Package: naville.xapfree
Name: XAPFree
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Open-Source In-App-Purchase Hacking ToolKit
Maintainer: Naville
Author: Naville
Section: Tweaks
