Package: naville.xapfree
Name: XAPFree
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Naville
Author: Naville
Section: Tweaks
Version: 0.0.1-10+debug
Installed-Size: 120
